## Iterable objects

## iterable objects are use to loop over element one by one
## Turple
## List
## Dictionary

## Turple

In [1]:
## Turple unchangeable
## Turple uses the bracket ()
## Turple use index location to access each element.

In [2]:
numbers=(10,24,25,90,100,40,50,70,"Micheal")
print(numbers)
print(type(numbers))
print(len(numbers))(10, 24, 25, 90, 100, 40, 50, 70, 'Micheal')

(10, 24, 25, 90, 100, 40, 50, 70, 'Micheal')
<class 'tuple'>
9

In [3]:
## forward index
print(numbers[8])

Micheal

In [10]:
## Backward index
print(numbers[-5])

100

In [12]:
## range
print(numbers[1:9]) ##forward +1 to find an index

(24, 25, 90, 100, 40, 50, 70, 'Micheal')

In [2]:
## forward and backward range
print(numbers[1:-2])     ## backward use -1 for index location

(24, 25, 90, 100, 40, 50)

In [3]:
## forward range
print(numbers[0::])

(10, 24, 25, 90, 100, 40, 50, 70, 'Micheal')

In [15]:
## reverse
print(numbers[::-1])

('Micheal', 70, 50, 40, 100, 90, 25, 24, 10)

## list

In [17]:
## list changeable
## list use the square bracket for identification []
## list use index location to access each element

In [18]:
fruits=["strawberry","orange","pineapple","watermelon"]
print(fruits)
print(type(fruits))

['strawberry', 'orange', 'pineapple', 'watermelon']
<class 'list'>

In [19]:
print(fruits[3])

watermelon

In [22]:
fruits.append("cherry")## append is used to add element to a list.
print(fruits)

['strawberry', 'orange', 'pineapple', 'watermelon', 'cherry', 'cherry', 'cherry']

In [25]:
fruits.remove("cherry")
print(fruits)

['strawberry', 'orange', 'pineapple', 'watermelon']

In [26]:
fruits.extend(["mango","apple","blueberries","banana"])
print(fruits)

['strawberry', 'orange', 'pineapple', 'watermelon', 'mango', 'apple', 'blueberries', 'banana']

In [27]:
fruits.sort()
print(fruits)## sort arranges the each element alphabetically.

['apple', 'banana', 'blueberries', 'mango', 'orange', 'pineapple', 'strawberry', 'watermelon']

In [28]:
fruits2=fruits.copy()
print(fruits2)

['apple', 'banana', 'blueberries', 'mango', 'orange', 'pineapple', 'strawberry', 'watermelon']

In [29]:
print(fruits)

['apple', 'banana', 'blueberries', 'mango', 'orange', 'pineapple', 'strawberry', 'watermelon']

In [ ]:
### Exercise 
## make a list of five state in nigeria using a list

In [30]:
## Dictionary
## Dictionary changeable
## Dictionary uses curly bracket to idenitification {}
## Dictionary use the key to locate the element.

In [2]:
human={
    "Name":"Emmanuel",
    "Age":40,
    "Marital_status":"Married",
    "Date":"04-11-2023",
    "Gender":"Male"}
print(type(human))
print(human)

<class 'dict'>
{'Name': 'Emmanuel', 'Age': 40, 'Marital_status': 'Married', 'Date': '04-11-2023', 'Gender': 'Male'}

In [3]:
print(human.values())
print(human.keys())

dict_values(['Emmanuel', 40, 'Married', '04-11-2023', 'Male'])
dict_keys(['Name', 'Age', 'Marital_status', 'Date', 'Gender'])

In [4]:
print(human["Name"])

Emmanuel

In [7]:
## adding a value inside a dictionary
r=({"height":1.97})
human.update(r)
print(human)

{'Name': 'Emmanuel', 'Age': 40, 'Marital_status': 'Married', 'Date': '04-11-2023', 'Gender': 'Male', 'height': 1.97}

In [8]:
## method2
human["height2"]=[1.92]
print(human)

{'Name': 'Emmanuel', 'Age': 40, 'Marital_status': 'Married', 'Date': '04-11-2023', 'Gender': 'Male', 'height': 1.97, 'height2': [1.92]}

In [9]:
## modify a particular value.
human["Gender"]= "Female"
print(human)

{'Name': 'Emmanuel', 'Age': 40, 'Marital_status': 'Married', 'Date': '04-11-2023', 'Gender': 'Female', 'height': 1.97, 'height2': [1.92]}

In [10]:
del human["height2"]

In [11]:
print(human)

{'Name': 'Emmanuel', 'Age': 40, 'Marital_status': 'Married', 'Date': '04-11-2023', 'Gender': 'Female', 'height': 1.97}

In [14]:
## Exercise
## create a dictionary of students name and subects in which they offered.
students={
    "name":{"name1":"david","name2":"Joy","name3":"musa"},
    "Subjects":{"subject1":"Futhermaths","subject2":"biology","subject3":"English"}}
print(students["name"]["name1"])

david